* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 10px;
  background-color: #fff;
  color: #000;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #262626;
}

ul {
  list-style: none;
}

.container {
  width: 90%;
  margin: auto;
  max-width: 110rem;
  font-size: 1.2rem;
}

/* NAV */
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
}

.main-nav .logo {
  width: 10rem;
}

.main-nav ul {
  display: flex;
}

.main-nav ul li {
  padding: 0 0.7rem;
}

.main-nav ul li a {
  padding-bottom: 2px;
}

.main-nav ul li a:hover {
  border-bottom: 2px solid #262626;
}

.main-nav ul.main-menu {
  flex: 1;
  margin-left: 2rem;
}

/* SHOWCASE */
.showcase {
  width: 100%;
  height: 30rem;
  background: url('./img/slide1.png') no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 5rem;
  font-size: 1.2rem;
}

.showcase h1,
.showcase p {
  margin-bottom: 1rem;
}

.btn {
  cursor: pointer;
  background: #262626;
  color: #fff;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 15px;
}

.btn:hover {
  opacity: 0.8;
}
/* HOME CARD */
